<footer class="container">
    <section class="content__container">
        <section class="sobre">
            <h2>Sobre</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere cumque eius et ut adipisci voluptate quia dolorum. Ex cumque magnam cum magni eum, praesentium recusandae, molestias molestiae laborum, itaque consequatur.</p>
        </section>
        <section class="contato" id="contato">
            <h2>Contato</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel: (61) 9 9936-2635">(61) 9 9936-2635</a>
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp"></i>
                    <a href="#">(61) 9 9936-2635</a>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto: fsantos29004@gmail.com">fsantos29004@gmail.com</a>
                </li>
            </ul>
        </section>
    </section>
    <section class="copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>