.container {
    padding: 15px;
}

.container > h2 {
    font-size: 1.8rem;
}

.container > .contact-container > .form-contact {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.container > .contact-container > .form-contact > input {
    border: 1px solid var(--primary-color);
    padding: 10px;
    max-width: 600px;
}

.container > .contact-container > .form-contact > input.valid {
    border: 1px solid rgb(8, 148, 8);
}

.container > .contact-container > .form-contact > input.invalid {
    border: 1px solid red;
}

.container > .contact-container > .form-contact > textarea {
    border: 1px solid var(--primary-color);
    max-width: 600px;
    height: 80px;
    padding: 10px;
}

.container > .contact-container > .form-contact > textarea.valid {
    border: 1px solid rgb(8, 148, 8);
}

.container > .contact-container > .form-contact > textarea.invalid {
    border: 1px solid red;
}

.container > .contact-container > .form-contact > button {
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    width: 200px;;
    transition: .3s ease;
}

.container > .contact-container > .form-contact > button:hover {
    background-color: white;
    color: var(--primary-color);
}

.container > .contact-container > .form-contact > button:disabled {
    background-color: grey;
    border: 2px solid grey;
}

.mensage-error {
    color: red;
}