<header class="container">
    <div class="logo__menu">
        <img src="assets/logo.png" alt="logo">
    </div>
    <div class="menu__container">
        <nav>
            <ul class="options__menu">
                <li>
                    <a href="">Produtos</a>
                </li>
                <li class="carrinho">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="">Carrinho</a>
                    <span class="badge-carrinho">{{ qtdCarrinho }}</span>
                </li>
                <li>
                    <a href="#contato">Contatos</a>
                </li>
            </ul>
        </nav>
        <form action="">
          <input type="text">
          <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</header>