/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Really';
    src: url(assets/fonts/Really.ttf);
}

:root {
    --primary-color: rgb(51, 84, 145);
    --secondary-color: rgb(27, 53, 102);

    --primary-bg-color: rgb(131, 34, 34);
    --secondary-bg-color: rgba(131, 34, 34, 0.082);

    --border-color: rgba(131, 34, 34, 0.562);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Really', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}

i {
    color: var(--primary-color);
}

button {
    cursor: pointer;
}
