/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Feelin';
    src: url(assets/fonts/Feelin_Sweet.otf);
}

:root {
    --primary-color: #232601;
    --secondary-color: #323909;

    --primary-bg-color: rgb(80, 89, 70);
    --secondary-bg-color: rgba(157, 162, 152, 0.353);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Feelin', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
}

i {
    color: var(--primary-color);
}

button {
    cursor: pointer;
}
